body{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
}
.marq{
    width:310px;
    height:70px;
    font-size: 50px;
    color: skyblue;
    font-style: italic;
    overflow: hidden;
    position: relative;  
}
.box{
    margin-top: 60px;
    width: 310px;
    height: 325px;
    background-color: transparent;
    border-radius: 5px;
}
.red{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: black;
    font-size: 50px;
    color: red;
    background-color: bisque;
}
.green{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    color: black;
    font-size: 50px;
    color: darkgreen;
    background-color: bisque;
}
.reset{
    background-color: aqua;
    color:black
}
.result{
    width:350px;
    height:25px;
    font-size: 20px;
    align-items: center;
    border:none;
    border-color:transparent;
    text-align-last: center;
    background-color: transparent;
    color: red;
}
.result1{
    width:350px;
    height:25px;
    font-size: 20px;
    align-items: center;
    border:none;
    border-color:transparent;
    text-align-last: center;
    background-color: transparent;
    color: darkgreen;
}